<div class="d-flex flex-column text-white p-3" style="width: 250px; height:100vh; background-color: #4dabf5;">
    <!-- Logo / Nome do Sistema -->
    <a href="#" class="d-flex align-items-center mb-3 text-white text-decoration-none text-center">
        <span class="fs-4 fw-bold">OdontPro</span>
    </a>

    <hr class="border-light">

    <!-- Menu -->
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link text-white">Início</a>
        </li>
        <li class="nav-item">
            <a href="/agenda" class="nav-link text-white">Agenda</a>
        </li>
        <li class="nav-item">
            <a href="/financeiro" class="nav-link text-white">Financeiro</a>
        </li>
        <li class="nav-item">
            <a href="/produtos" class="nav-link text-white"> Produto</a>
        </li>
        <li class="nav-item">
            <a href="/ListaPacientes" class="nav-link text-white">Pacientes</a>
        </li>
        <li class="nav-item">
            <a href="/ListaColaboradores" class="nav-link text-white">Colaboradores</a>
        </li>
        <li class="nav-item">
            <a href="/AtendimentoPaciente" class="nav-link text-white">Atendimento ao Paciente</a>
        </li>
     
    </ul>

    <hr class="border-light">

    <!-- Usuário -->
    <div class="dropdown mt-auto">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Usuário</strong>
        </a>

        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sair</a></li>
        </ul>
    </div>
</div>
