@page "/AtendimentoPaciente/{Id:int}/editar"
@rendermode InteractiveServer

@using Projeto_Odontpro.Models
@using Projeto_Odontpro.Models.Paciente
@inject Projeto_Odontpro.Models.Paciente.AtendimetoPacienteDAO atendimentoDAO;
@inject NavigationManager Navigation;

<PageTitle>Atendimento ao Paciente</PageTitle>

@if (erro != string.Empty)
{
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
    <strong class="font-bold">Erro!</strong>
    <span class="block sm:inline">@erro</span>
  </div>
}

<EditForm Model="atendimento" OnSubmit="Salvar">
  <div class="mb-4">
    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input @bind-value="atendimento.Email" type="text" id="email"
      class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" />
  </div>

  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Salvar</button>
</EditForm>



@code {



    private string erro = string.Empty;





    public int id;

  private Paciente atendimento = new();

  protected override void OnInitialized()
  {
        var _atendimento = atendimentoDAO.BuscarPorId(id);

    if (_atendimento != null)
    {
            atendimento = _atendimento;
    }
    else
    {
      erro = "Atendimento não encontrado.";
    }
  }

  private void Salvar()
  {
    try
    {
            atendimentoDAO.Atualizar(atendimento);

      Navigation.NavigateTo("/AtedimentoPaciente");
    }
    catch (Exception ex)
    {
      erro = $"Erro ao salvar o Atedimento: {ex.Message}";
    }

  }
}















